BODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	text-align: center;
}
A
{
	font-size: 11px;
	font-family: Arial;
}
A:link
{
	color: #36750B;
	text-decoration: underline;
}
A:visited
{
	color: #36750B;
	text-decoration: underline;
}
A:active
{
	color: #36750B;
	text-decoration: underline;
}
A:hover
{
	color: #ff0000;
	text-decoration: underline;
}
#LanguageComboBox SELECT
{
	font-size: 11px;
	width: 135px;
	height: 17px;
}
#SearchTextBox INPUT
{
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	font-size: 11px;
	border-left: #999999 1px solid;
	color: #333333;
	border-bottom: #999999 1px solid;
	height: 17px;
}
#SearchTextBox_Admin INPUT
{
	font-size: 11px;
	color: #333333;
	height: 19px;
}
.MainMenu_RootMenuItem TD
{
	font-weight: normal;
	font-size: 11px;
	BACKGROUND-POSITION-Y: bottom;
	background-image: url(media/menuitem_c.gif);
	text-transform: uppercase;
	color: #666666;
	background-repeat: repeat-x;
	font-family: Arial;
	height: 27px;
}
.MainMenu_RootMenuItemSel TD
{
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	color: #333333;
	font-family: Arial;
	height: 27px;
}
.MainMenu_RootMenuItemActive TD
{
	font-weight: normal;
	font-size: 11px;
	BACKGROUND-POSITION-Y: bottom;
	background-image: url(media/menuitemsel_c.gif);
	text-transform: uppercase;
	color: #ffffff;
	background-repeat: repeat-x;
	font-family: Arial;
	height: 27px;
}
/* MODULE Links */
A.Normal
{
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
}
A.Normal:link
{
	color: #36750B;
	text-decoration: none;
}
A.Normal:visited
{
	color: #36750B;
	text-decoration: none;
}
A.Normal:active
{
	color: #36750B;
	text-decoration: none;
}
A.Normal:hover
{
	color: #ff0000;
	text-decoration: underline;
}
/* [USER][LOGIN] */
.Top_Link_Sprtr
{
	font-weight: normal;
	font-size: 14px;
	color: #418111;
	font-family: Arial;
}
.Top_Link
{
	font-weight: normal;
	font-size: 11px;
	color: #418111;
	font-family: Arial;
}
A.Top_Link:link
{
	color: #418111;
	text-decoration: none;
}
A.Top_Link:visited
{
	color: #418111;
	text-decoration: none;
}
A.Top_Link:active
{
	color: #418111;
	text-decoration: none;
}
A.Top_Link:hover
{
	color: #418111;
	text-decoration: underline;
}
.Search
{
	font-size: 12px;
	font-family: Arial;
}
A.Search:link
{
	color: #333333;
	text-decoration: none;
}
A.Search:visited
{
	color: #333333;
	text-decoration: none;
}
A.Search:active
{
	color: #333333;
	text-decoration: none;
}
A.Search:hover
{
	color: #333333;
	text-decoration: underline;
}
.Breadcrumb_Link
{
	color: #666666;
	font-weight: normal;
	font-size: 11px;
	font-family: Arial;
}
A.Breadcrumb_Link:link
{
	color: #666666;
	text-decoration: none;
}
A.Breadcrumb_Link:visited
{
	color: #666666;
	text-decoration: none;
}
A.Breadcrumb_Link:active
{
	color: #666666;
	text-decoration: none;
}
A.Breadcrumb_Link:hover
{
	color: #333333;
	text-decoration: underline;
}
.Current_Date
{
	font-weight: normal;
	font-size: 11px;
	color: #418111;
	font-family: Arial;
}
/* [LINKS] */
.Content_Link
{
	font-weight: normal;
	font-size: 11px;
	color: #999999;
	font-family: Arial;
}
A.Content_Link:link
{
	color: #999999;
	text-decoration: none;
}
A.Content_Link:visited
{
	color: #999999;
	text-decoration: none;
}
A.Content_Link:active
{
	color: #999999;
	text-decoration: none;
}
A.Content_Link:hover
{
	color: #666666;
	text-decoration: underline;
}
.Copyright
{
	font-weight: normal;
	font-size: 11px;
	color: #666666;
	font-family: Arial;
}
/* [TERMS][PRIVACY][HELP] */
.Bottom_Link
{
	font-weight: normal;
	font-size: 11px;
	font-family: Arial;
}
A.Bottom_Link:link
{
	color: #666666;
	text-decoration: underline;
}
A.Bottom_Link:visited
{
	color: #666666;
	text-decoration: underline;
}
A.Bottom_Link:active
{
	color: #666666;
	text-decoration: underline;
}
A.Bottom_Link:hover
{
	color: #333333;
	text-decoration: underline;
}
.sloganpane
{
	height: 4px;
	background-color: transparent;
}
.toppane
{
	padding-left: 10px;
	width: 100%;
	padding-top: 10px;
	height: 0%;
	background-color: transparent;
}
.toppanep
{
	width: 100%;
	padding-top: 10px;
	height: 0%;
	background-color: transparent;
}
.toppanef
{
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	padding-top: 10px;
	height: 0%;
	background-color: transparent;
}
.leftpane
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	height: 100%;
	background-color: transparent;
}
.leftpanep
{
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.leftpanef
{
	padding-left: 10px;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.contentpane
{
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.rightpane
{
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.rightpanef
{
	padding-right: 10px;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.bottompane
{
	padding-left: 10px;
	width: 100%;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.bottompane2
{
	padding-left: 10px;
	width: 100%;
	padding-top: 8px;
	height: 0%;
	background-color: transparent;
}
.bottompanep
{
	width: 100%;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.bottompanep2
{
	width: 100%;
	padding-top: 8px;
	height: 0%;
	background-color: transparent;
}
.bottompanef
{
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	padding-top: 8px;
	height: 100%;
	background-color: transparent;
}
.bottompanef2
{
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	padding-top: 8px;
	height: 0%;
	background-color: transparent;
}
/* [SOLPATRMENU] */
.MainMenu_MenuContainer
{
	background-color: transparent;
}
.MainMenu_MenuBar
{
}
.MainMenu_MenuItem
{
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 20px;
	border-bottom-style: none;
}
.MainMenu_MenuItemSel
{
	font-weight: normal;
	color: #ffffff;
	font-size: 11px;
	height: 20px;
	background-color: transparent;
}
.MainMenu_MenuIcon
{
	display: none;
	background-color: #f2f2f2;
}
.MainMenu_MenuArrow
{
	border-right: #f2f2f2 1px solid;
	border-top: #f2f2f2 1px solid;
	width: 7px;
	border-bottom: #f2f2f2 1px solid;
	background-color: transparent;
}
.MainMenu_MenuBreak
{
	height: 0px;
	width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: transparent;
	border-bottom-style: none;
}
.MainMenu_SubMenu
{
	border-right: #bebebe 1px solid;
	border-top: #bebebe 1px solid;
	border-left: #bebebe 1px solid;
	border-bottom: #bebebe 1px solid;
	background-color: #f2f2f2;
}
.MainMenu_SubMenuItemSel
{
	font-size: 11px;
	color: #ffffff;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 20px;
	background-color: #cccccc;
	border-bottom-style: none;
}
.MainMenu_RootMenuArrow
{
	padding-left: 2px;
}
.MainMenu_MenuIcon_Admin
{
	border-top: #f2f2f2 1px solid;
	border-left: #f2f2f2 1px solid;
	width: 0px;
	border-bottom: #f2f2f2 1px solid;
	background-color: #f2f2f2;
}
.MainMenu_MenuBreak_Admin
{
	height: 28px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #666666;
	border-bottom-style: none;
}
.MainMenu_RootMenuItem_Admin
{
	font-size: 12px;
	color: #666666;
	font-family: Arial;
	height: 28px;
}
.MainMenu_RootMenuItemActive_Admin
{
	font-size: 12px;
	color: #ffffff;
	font-family: Arial;
	height: 28px;
	background-color: #5C9921;
}
.MainMenu_RootMenuItemSel_Admin
{
	font-size: 12px;
	color: #333333;
	font-family: Arial;
	background-color: #dcdcdc;
	height: 28px;
}
.LabelEditOverClass
{
	text-decoration: none;
}
/* BANNER */
#Banner_Bg
{
	background-position: center top;
	background-image: url(media/banner.gif);
	height: 80px;
}
#Logo_Td
{
	width: 200px;
}
#Left_Td
{
	border-right: #bebebe 1px solid;
	border-top: #bebebe 1px solid;
	border-left: #bebebe 1px solid;
	width: 200px;
	border-bottom: #bebebe 1px solid;
	background-color: #f2f2f2;
}
