<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>de147ee0-9cfb-4073-a3f9-aa7a782a4819</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>de147ee0-9cfb-4073-a3f9-aa7a782a4819</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>FDE2968A997AB2C1C7AA978A825992C5</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
