<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<!-- WORKFLOW DATABASE CONNECTION STRING -->
		<add key="FCF" value="_workflow_cxn" />
		<add key="DCF" value="Conexion" />
		<add key="smtpServer" value="10.176.56.33"/>
		<add key="intervaloAprobacion" value="60"/>
		<add key="intervaloCorreccion" value="60"/>
		<add key="numeroRecordatorios" value="3"/>
  </appSettings>
</configuration>
